{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}

{% for brand in provider.get_brands %}

  <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}} aw "
    href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>

{% endfor %}

<a title="{{provider.name}}"
  class="socialaccount_provider {{provider.id}} btn btn-primary btn-block"
  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
  <span class="aw">Sign in with </span>{{provider.name}}</a>

{% endfor %}