{% extends "base.html" %} 
{% load static %} 
{% block page_header %}
<div class="container header-container h-100">
  <div class="row h-100">
    <div class="col home-page-heading">
        <h1>Self Love First, Babe.
        <br>
        Self Love First.</h1>
        <p>All the products you could <strong class="text-uppercase">ever</strong> need.</p>
        <a href="{% url 'products' %}" class="home-shop-btn" >Shop Now</a>
    </div>
    
  </div>
</div>
{% endblock %} 


{% block content %}
{% endblock %} 