<section class="container header-container h-150 d-none d-lg-block">
<br>
<br>
<br>
<div class="row h-100">
    <div class="col text-center product-promo-container" id="glow">
    <h2 class="">Products that may interest you</h2>
        <div id="" class="carousel slide" data-ride="carousel" data-interval="3500">
            <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block w-100">
                            <div class="row">
                            {% for product in random_products|slice:":4" %}
                                <div class="col col-md-4 col-lg-3 col-xl-3">
                                    <div class="py-4">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}" class="">
                                            <img class="promo-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="promo-img" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                        <div class="pb-0">
                                            <p class="product-name mb-0">{{ product.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <div class="row">
                            {% for product in random_products|slice:"4:8" %}
                                <div class="col col-md-4 col-lg-3 col-xl-3">
                                    <div class="py-4">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}" class="">
                                            <img class="promo-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="promo-img" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                        <div class="pb-0">
                                            <p class="product-name mb-0">{{ product.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <div class="row">
                            {% for product in random_products|slice:"8:12" %}
                                <div class="col col-md-4 col-lg-3 col-xl-3">
                                    <div class="py-4">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}" class="">
                                            <img class="promo-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="promo-img" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                        <div class="pb-0">
                                            <p class="product-name mb-0">{{ product.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>