<!-- specified product review -->
<section class="container-fluid">
    <div class="row">
        <!-- review header-->
        <div class="col col-lg-8 offset-lg-2">
            <hr>
            <h2 class="logo-font">Reviews for: </h2>
            <h3>{{ product.name }}</h3>
            <hr class="card-line-break mt-2 mb-3">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 all-reviews mb-4">
            {% if reviews_count > 0 %}	
                <!-- show reviews -->
                {% for r in product_reviews %}
                <div class="single-review mt-3 mb-4">
                    <div class="review-heading">
                        <span class="mr-3"><strong>{{r.User.username}}</strong></span>
                        <span class="text-muted">{{r.created_at}} </span>
                    </div>
                    <div class="review-body">
                        {{r.review}}
                    </div>
                </div>
                <hr class="card-line-break mt-3">
                {% endfor %} 
            <!-- if not review show the following message -->
            {% else %}
                <p>There are no reviews for this product, be the first to leave a review!</p>
            {% endif %} 
        </div>
        <!-- option for the user to write a reviews -->
        <div class="col-12 col-md-6 col-lg-4 form-bg p-3">
            <h5 class="text-uppercase">Write a review:</h5>
            <form action="{% url 'product_detail' product.id %}" method="POST" class="form-group">
                {% csrf_token %}
                {{ review_form|crispy }}
                <!-- only authenticated users can write a review -->
                {% if user.is_authenticated %}
                <textarea id="review" name="review" rows="4" cols="60" required></textarea>
                <!-- action buttons -->
                <button id="submit-button" class="btn yellow-to-pink-btn" type="submit">
                    <span class="">Add review</span>
                </button>
                {% else %}
                <p>Logged in to add your review!
                    <a href="{% url 'account_login' %}">Login</a>
                    or 
                    <a href="{% url 'account_signup' %}">Register</a></p>
                {% endif %}
            </form>
        </div>
    </div>
</section> 
