{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- white backdrop -->
<div class="overlay"></div>
<!-- page header -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="heading-top-spacing logo-font">My Profile</h2>
            <hr class=" card-line-break mt-2 mb-4">
        </div>
    </div>
    <div class="row">
        <!-- user delivery address -->
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- action button -->
                <button class="btn yellow-to-pink-btn float-right">Update Information</button>
            </form>
        </div>
        <!-- order history related to the user -->
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th style="border-bottom: solid 2px #ffc10763">Order Number</th>
                            <th style="border-bottom: solid 2px #ffc10763">Date</th>
                            <th style="border-bottom: solid 2px #ffc10763">Items</th>
                            <th style="border-bottom: solid 2px #ffc10763">Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}" class="hyperlink">
                                {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>£{{ order.bag_total }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}