html {
    height: 100%;
}

body {
    background: url('/../media/mask_img.jpg') no-repeat center center fixed;
   /* background-image: linear-gradient(to right top, #e684ec, #aea4ff, #68bdff, #12cfff, #28dcf9, #3fe2e6, #64e7d1, #89e9bc, #9ee9a4, #b9e78d, #d7e377, #f7dc69); */
    background-size: cover;
    height: calc(100vh - 164px);
    /* color: #000; */
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Playfair Display', serif;
}

.logo-font{
    font-family: 'Kristi', cursive;
    font-size: 4rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #000;
}

.icon:hover{
    color: #7CE6D7;
}

/* navbar styling */
.nav-link {
    display: block;
    padding: .5rem .5rem;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Playfair Display', serif;
    color: #000;
}

img.nav-img-top{
    width: auto;
    height: 100px;
}
.product-img{
    justify-content: center;
    align-items: center;
    display: flex;
}

#topnav{
    background-color: white;
    padding: 5px 10px;
}

.dropdown{
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}

.dropdown-menu.show {
    padding-left: 30px;
    padding-right: 20px;
}

.w-100{
   padding: 0;
   margin-top: -10px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* home page  */
.home-page-heading{
    padding-top: 8rem;
}

.home-shop-btn{
    background-color: #F7DC69;
    color: #000;
    border-radius: 50px;
    border: none;
    padding: 8px;
}

a.home-shop-btn:hover {
    color: #1d2124;
    background-color: #7CE6D7;
    text-decoration: none;
    font-weight: bolder;
}

.btt-link{
    cursor: pointer;
}
.btt-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.collapse{
    padding: 10px;
}
.card-body{
    padding: 1rem;
}
.product-name{
    font-family: 'Kristi', cursive;
    font-size: 1.8rem;
    font-weight: bold;
}

.product-category{
    color: #000;
    font-size: large;
    font-family: 'Playfair Display', serif;
}
.product-card-line-spacing{
    margin: 0;
    padding: 0;
    line-height: 30px;
}
.card-line-break{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #ffc10763;
}

.fa-inverse{
    font-style: normal;
    font-size: large;
}


.product-price{
    float: left;
}
.quick-add-btn{
    float: right;
}
hr{
    border-top: 1px solid #ffffff00;
}


.product-detail-name{
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Kristi', cursive;
}

/* single prouct page */

.single-product-card{
    background-color: white;
}

.single-product-description{
    font-size: 3rem;
    font-family: 'Kristi', cursive;
    margin: 0;
}

/* .side-by-side{
    display: inline-block;
} */
input.side-by-side {
    width: 40px;
    height: 38px;
    text-align: center;
}

.social-media{
    list-style-type: none;
    float: right;
    margin-top: 1rem;
    margin-bottom: 0;
}
ul.social-media{
    display: inline-block;
}

.social-media li{
    display: inline;
}
 
.buying-options{
    text-align: left;
}
.buying-options{
    background-color: rgba(124, 230, 215, 0.4);
    padding: 10px 20px 15px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    .main-logo-link{
        margin-top: 30px;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        background-color: #e295e6;
        text-transform: initial;
    }
    img.card-img-top.img-fluid {
        padding: 100px 30px;
}

}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.lg-promo-strip li{
    display: inline;
    justify-content:space-around;
    list-style-type:none;
}

.carousel-indicators li {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

div.carousel-item:active{
    display: inline-block;
}
.carousel-item{
    margin-top: 15px;
    background-image: linear-gradient(to right, #e684ec, #aea4ff, #68bdff, #12cfff, #28dcf9, #3fe2e6, #64e7d1, #89e9bc, #9ee9a4, #b9e78d, #d7e377, #f7dc69);
}

.promo-strip{
    /* background-color: #000; */
    /* color: white; */
    color: #000;
    background-image: linear-gradient(to right, #e684ec, #aea4ff, #68bdff, #12cfff, #28dcf9, #3fe2e6, #64e7d1, #89e9bc, #9ee9a4, #b9e78d, #d7e377, #f7dc69);

}

@media (max-width: 991px) {
    .navbar{
        padding: 25px 20px 10px;
        background-color: rgba(124, 230, 215, 0.4);
    } 

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .mt-3, .my-3 {
    margin-top: 3rem!important;
    }
    .buying-options.my-3 {
        margin-top: 10px!important;
    }
    hr.card-line-break.my-3 {
        margin-top: 10px!important;
}
}
@media (max-width: 767px){
    .lg-single-name{
        display: none;
    }
    .logo-font{
        font-size: 3rem;
    }
}
@media (min-width: 768px){
        .sm-single-name{
        display: none;
    }
}


/* 
Animated search box
coding snow - youtube 
*/
.search-box{
    position: absolute;
    /* top: -15px; */
    top: 0px;
    left: 60px;
    background: #000;
    height: 30px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 40px;
    box-shadow: 0 0 25px 0 rgba(124, 230, 215, 0.4);
}


.search-box input{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    /* font-size: 20px; */
    line-height: 35px;
    width: 0px;
}

.search-box:hover{
    background-color: #7CE6D7;
}

.search-box:hover input{
    width: 200px;
    padding: 0 6px;
    background: #7CE6D7;
    height: 10px;
}

.search-box input:focus{
    width: 240px;
    padding: 0 6px;
}

.search-btn{
    border: none;
    background: none;
    outline: none;
    width: 10px;
    margin-top: -21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-btn i{
    z-index: 1;
    background: #000;
    color: white;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: -14px;
}