<!-- Footer -->
<footer class="page-footer font-small bg-white">
    <hr class=" card-line-break mt-4 mb-2">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <!-- logo -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <a href="{% url 'home' %}">
                        <img class="" src="{{ MEDIA_URL }}logo.png" alt="logo" height="50">
                    </a>
                </div>
                <!-- social media -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!--snapchat -->
                <a class="li-ic">
                    <i class="icon fab fa-snapchat fa-lg fa-lg mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="icon fab fa-instagram fa-lg"> </i>
                </a>
            </div>
        </div>
    </div>
</footer>