{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- white backdrop -->
<div class="overlay"></div>
<!-- page header -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="heading-top-spacing logo-font">Product Management</h2>
            <h5 class="text-muted">Add a Product</h5>
            <hr class="card-line-break mt-2 mb-4">
        </div>
    </div>
    <!-- input fields for superuser to add new product -->
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <!-- action buttons -->
                <div class="text-right">
                    <a type="button" class="btn btn-outline-dark" href="{% url 'products' %}">Cancel</a>
                    <button class="btn yellow-to-pink-btn" type="submit">Add Product</button>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/add_img.js' %}"></script>
{% endblock %}