{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- white backdrop -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <!-- specified product image -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="sm-single-name">
                <h3 class="logo-font mb-0 mt-2">{{ product.name }}</h3>
                <h3>{{ product.short_description }}</h3>
            </div>
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                    </a>
                {% else %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}" />
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- specifid prodcut detail -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class=" mb-5 mt-md-5">
                <div class="lg-single-name">
                    <h1 class="logo-font mb-0">{{ product.name }}</h1>
                    <h3>{{ product.short_description }}</h3>
                </div>
                <div>
                    <h3 class="mb-0 font-weight-bold">£{{ product.price }}/ <small>{{ product.weight }}g</small></h3>
                    {% if product.rating %}
                        <small class="text-muted" ><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
                <hr class="card-line-break my-3">
                {% if product.category %}
                <h5 class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        {{ product.category.friendly_name }}
                    </a>
                </h5>
                {% endif %} 
                <!-- edit or delete buttons displayed only for superuser -->
                {% if request.user.is_superuser %}
                <small>
                    <a href="{% url 'edit_product' product.id %}"><i class="fas fa-edit"></i> Edit</a> | 
                    <a class="text-danger" data-toggle="modal" data-target="#productDetail"><i class="fas fa-trash-alt"></i> Delete</a>
                </small>
                {% else %}
                <!-- form to input quantity of product, and add-to-bag button -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">  
                    {% csrf_token %}
                    <div class="buying-options input-group my-3">
                    <div>
                        <label class="mt-2 pr-2" for="Qty" id="qty_input">Qty:</label>
                        <input type="number" class="qty_input" value="1" width="48" name="quantity" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <!-- action button -->
                        <input type="submit" class="btn yellow-to-pink-btn mr-2" value="Add to Basket">
                    </div>
                        <!-- social media links-->
                        <div class="social-media mt-2">
                            <a href="https://www.instagram.com/" target="_blank"><i class="icon fab fa-instagram fa-lg"></i></a>
                            <a href="https://www.snapchat.com/" target="_blank"><i class="icon fab fa-snapchat fa-lg"></i></a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                {% endif %}
                <!-- action button -->
                <div class="col-12 pl-0">
                    <a href="{% url 'products' %}" class="btn mb-2 hyperlink pl-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>Go back to 
                        <span>Continue Shopping</span>
                    </a>
                </div>
                <!-- description and directions product detail -->
                <div>
                    <p class="mb-0"><strong>Description:</strong> {{ product.description }}</p>
                    <br>
                    <p><strong>How to use:</strong> {{ product.directions }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product revies associated to the product -->
{% include 'products/includes/product_reviews.html' %}

<!-- modal -->
<div class="modal fade" id="productDetail" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete {{ product.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
